<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="WA_Confirmacion.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"/>
    </httpModules>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <remove name="ApplicationInsightsWebTracking"/>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"
        preCondition="managedHandler"/>
    </modules>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="CFDICodigoConfirmacionSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:27724/CFDICodigoConfirmacion.asmx"
        binding="basicHttpBinding" bindingConfiguration="CFDICodigoConfirmacionSoap"
        contract="WS_Confirmacion.CFDICodigoConfirmacionSoap" name="CFDICodigoConfirmacionSoap" />
    </client>
  </system.serviceModel>
  <applicationSettings>
    <WA_Confirmacion.Properties.Settings>
      <setting name="PathContract" serializeAs="String">
        <value>Contract\Contract.xml</value>
      </setting>
      <setting name="Host" serializeAs="String">
        <value>mail.ateb.com.mx</value>
      </setting>
      <setting name="Puerto" serializeAs="String">
        <value>25</value>
      </setting>
      <setting name="MailEmisor" serializeAs="String">
        <value>notifications@ateb.com.mx </value>
      </setting>
      <setting name="MailCopia" serializeAs="String">
        <value />
      </setting>
      <setting name="Asunto" serializeAs="String">
        <value>Sistema de Códigos de Confirmación(Test)</value>
      </setting>
      <setting name="MailEmisorDesc" serializeAs="String">
        <value>No Reply</value>
      </setting>
      <setting name="IntentosMail" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="MailUser" serializeAs="String">
        <value>ivan.renteria@ateb.com.mx</value>
      </setting>
      <setting name="MailPass" serializeAs="String">
        <value>AvM5kVcD0v3.,$</value>
      </setting>
      <setting name="AlertMail" serializeAs="String">
        <value>timbrado@ateb.com.mx</value>
      </setting>
    </WA_Confirmacion.Properties.Settings>
  </applicationSettings>
</configuration>